@charset "utf-8";
/* CSS Document */

.backgroundlevel-high .main-bg{
	background:none;	
}

.backgroundlevel-high .rt-footer-surround{
	background:none;	
}

.logo-type-fresco #rt-logo
{
	background:url(../images/logo.png) 0 0 no-repeat;	
	margin-top:15px;
}

#rt-logo{
	background:url(../images/logo_small.png) 0 0 no-repeat;
}

.backgroundlevel-high, .backgroundlevel-med
{
	background:#3F3B30;
}
.horizmenu .menu
{
	border-bottom:none;	
}

.horizmenu .module-content .menu li a
{
	color:#FFF;
}