/* savvycard styling */
body {
    font-family: 'Open Sans', Arial, Helvetica,  sans-serif;
	/*font-family: 'Lato', sans-serif;*/
    font-style: normal;
    font-weight: normal;
    text-transform: none;
    font-size:13px;
	background-color:#eee;
}

/* Overlays */
#site_overlay_container { position: fixed; top: 0; bottom: 0; left: 0; right: 0; z-index: 25000; background: url(/assets/img/65black.png); display: none;}
#site_overlay { width: 650px; min-height: 500px; position: absolute; top:5%; left: 50%; margin-left: -325px; z-index: 25001; background: #f8f8f8; border-radius: 10px; border: 10px solid #cccccc; display: none; }
.inner_overlay { padding: 20px; }



strong { font-weight: bold; }
em { font-style: italic; }
.bold { font-weight: bold; }

#content{padding:20px;padding-bottom:50px;background-image: url(/assets/img/callout_bar.png); background-position:bottom center; background-repeat:no-repeat;}
a{color:#f0952c; text-decoration:none;}
a:hover{color:#3399FF;}

.question, .rBox {
    position:relative;
    border-radius: 15px;
    background-color:#fff5e9;
    padding:10px; padding-top:6px; padding-right:30px !important;
    margin-bottom:15px;
    line-height:18px;
    /* box shadow */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.36);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.36);
    display:block;
	
}

h1 { font-size:24px; line-height:24px; }
h2 { font-size:20px; line-height:20px; }
h3 { font-size:17px; line-height:18px; }
h4 { font-size:15px; line-height:18px; }

h1,h2,h3,h4 { /*color: #000000;*/ font-weight: 400; margin: 0 0 10px 0; }
.orange { color: #ed9239 }

.heading_box {
    display:inline-block; padding:8px; width:100%;
    color:#fff;
    text-shadow: 1px 1px 4px #170c00;
    letter-spacing:-0.07em;
    margin-bottom:10px; padding-left:7px;
    margin-top:10px; vertical-align:middle;
    border-radius: 5px;
    -moz-box-shadow:inset 1px 1px 4px #999;
    -webkit-box-shadow:inset 1px 1px 4px #999;
    box-shadow:inset 1px 1px 4px #999;
    background: rgb(255,155,79); /* Old browsers */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,155,79,1)), color-stop(51%,rgba(255,130,41,1)), color-stop(100%,rgba(255,175,77,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,155,79,1) 0%,rgba(255,130,41,1) 51%,rgba(255,175,77,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,155,79,1) 0%,rgba(255,130,41,1) 51%,rgba(255,175,77,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,155,79,1) 0%,rgba(255,130,41,1) 51%,rgba(255,175,77,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(255,155,79,1) 0%,rgba(255,130,41,1) 51%,rgba(255,175,77,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9b4f', endColorstr='#ffaf4d',GradientType=0 ); /* IE6-9 */
    background: -moz-linear-gradient(top,  rgba(255,155,79,1) 0%, rgba(255,130,41,1) 51%, rgba(255,175,77,1) 100%); /* FF3.6+ */
	
}

p { margin: 0 0 10px 0; line-height:20px; }

span.form_row { display:block; margin-bottom: 5px;}
fieldset{ border-radius: 5px; border:1px solid #ccc; padding:6px; }
fieldset legend {
    font-size:13px; font-weight:normal;
color: #666;
padding: 5px 17px 5px 17px;
border-radius: 5px;
border: 1px solid #ccc;
background-color: #fff;
padding: 5px;
	
}
.b_legend{
color:#666  !important;
font-size:13px; font-weight:normal; padding:5px 17px 5px 17px !important;
border-radius: 2px; border:1px solid #ccc; background-color:#fff; padding:5px; box-shadow:none;

}
label{
    display:inline-block;
    clear:none;
	min-width:110px; /* there needs to be a min width here! */
}
hr{
    border:none; border-bottom:1px solid #ccc;
    margin: 0 0 20px 0;
}

select { border-radius: 5px; padding: 5px;}

input[type=tel], input[type=text], input[type=password], input[type=email] {
    font-family: 'Open Sans', Arial, Helvetica,  sans-serif;
    border-radius: 5px; border:1px solid #ccc; background-color:#fff; padding: 4px;   
    -moz-box-shadow:inset 1px 0px 0px #999;
    -webkit-box-shadow:inset 1px 0px 0px #999;
    box-shadow:inset 1px 1px 0px #999;
    background: rgb(219,219,219); /* Old browsers */

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(219,219,219,1)), color-stop(48%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(219,219,219,1) 0%,rgba(255,255,255,1) 48%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(219,219,219,1) 0%,rgba(255,255,255,1) 48%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(219,219,219,1) 0%,rgba(255,255,255,1) 48%); /* IE10+ */
    background: linear-gradient(top,  rgba(219,219,219,1) 0%,rgba(255,255,255,1) 48%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbdbdb', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    background: -moz-linear-gradient(top,  rgba(219,219,219,1) 0%, rgba(255,255,255,1) 48%); /* FF3.6+ */
    
}

/* input[type=radio], input[type=checkbox] { filter:none !important; background:none !important; border:none !important;} */
textarea{
    font-family: 'Open Sans', Arial, Helvetica,  sans-serif;
    border-radius: 5px; border:1px solid #ccc; background-color:#fff; padding:5px;   
    -moz-box-shadow:inset 1px 0px 0px #999;
    -webkit-box-shadow:inset 1px 0px 0px #999;
    box-shadow:inset 1px 1px 0px #999;
	
}

input[type=submit], input[type=button] {
    font-family: 'Open Sans', Arial, Helvetica,  sans-serif;
    color:#000; padding:5px 13px 5px 13px !important;
    font-weight:700; font-size:12px !important;
    margin-bottom:10px;
    margin-top:10px; vertical-align:middle;
    border:1px solid #777 !important;
    border-radius: 3px;

    -moz-box-shadow:0px 0px 0px #777;
    -webkit-box-shadow:0px 0px 0px #777;
    box-shadow:0px 0px 0px #777;

    background: rgb(242,241,238); /* Old browsers */

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,241,238,1)), color-stop(50%,rgba(224,223,216,1)), color-stop(51%,rgba(205,202,193,1)), color-stop(100%,rgba(154,149,126,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(242,241,238,1) 0%,rgba(224,223,216,1) 50%,rgba(205,202,193,1) 51%,rgba(154,149,126,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(242,241,238,1) 0%,rgba(224,223,216,1) 50%,rgba(205,202,193,1) 51%,rgba(154,149,126,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(242,241,238,1) 0%,rgba(224,223,216,1) 50%,rgba(205,202,193,1) 51%,rgba(154,149,126,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(242,241,238,1) 0%,rgba(224,223,216,1) 50%,rgba(205,202,193,1) 51%,rgba(154,149,126,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f1ee', endColorstr='#9a957e',GradientType=0 ); /* IE6-9 */
    background: -moz-linear-gradient(top,  rgba(242,241,238,1) 0%, rgba(224,223,216,1) 50%, rgba(205,202,193,1) 51%, rgba(154,149,126,1) 100%); /* FF3.6+ */

}

input[type=submit]:hover, input[type=button]:hover{ cursor:pointer; 
                                                              box-shadow:0 0px 6px #00ff12;
                                                              -webkit-box-shadow:0 0px 6px #00ff12;
                                                              -moz-box-shadow:0 0px 6px #00ff12; 

}
.red_btn{
    font-weight:700; font-size:12px !important;
    border:1px solid #777 !important;
    color:#fff !important;
    background: rgb(255,117,115)!important; /* Old browsers */
 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,117,115,1)), color-stop(50%,rgba(255,86,83,1)), color-stop(51%,rgba(255,51,51,1)), color-stop(100%,rgba(216,7,0,1)))!important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,117,115,1) 0%,rgba(255,86,83,1) 50%,rgba(255,51,51,1) 51%,rgba(216,7,0,1) 100%)!important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,117,115,1) 0%,rgba(255,86,83,1) 50%,rgba(255,51,51,1) 51%,rgba(216,7,0,1) 100%)!important;/* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,117,115,1) 0%,rgba(255,86,83,1) 50%,rgba(255,51,51,1) 51%,rgba(216,7,0,1) 100%)!important; /* IE10+ */
    background: linear-gradient(top,  rgba(255,117,115,1) 0%,rgba(255,86,83,1) 50%,rgba(255,51,51,1) 51%,rgba(216,7,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7573', endColorstr='#d80700',GradientType=0 )!important; /* IE6-9 */
    background: -moz-linear-gradient(top,  rgba(255,117,115,1) 0%, rgba(255,86,83,1) 50%, rgba(255,51,51,1) 51%, rgba(216,7,0,1) 100%)!important; /* FF3.6+ */
	
}
.grey_btn{
    font-weight:700; font-size:12px !important;
    border:1px solid #777 !important;
    color:#fff !important;
    background: rgb(185,185,185)!important;; /* Old browsers */
 
    background: -moz-linear-gradient(top,  rgba(185,185,185,1) 0%, rgba(169,169,169,1) 50%, rgba(153,153,153,1) 51%, rgba(108,108,108,1) 100%)!important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(185,185,185,1)), color-stop(50%,rgba(169,169,169,1)), color-stop(51%,rgba(153,153,153,1)), color-stop(100%,rgba(108,108,108,1)))!important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(185,185,185,1) 0%,rgba(169,169,169,1) 50%,rgba(153,153,153,1) 51%,rgba(108,108,108,1) 100%)!important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(185,185,185,1) 0%,rgba(169,169,169,1) 50%,rgba(153,153,153,1) 51%,rgba(108,108,108,1) 100%)!important; /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(185,185,185,1) 0%,rgba(169,169,169,1) 50%,rgba(153,153,153,1) 51%,rgba(108,108,108,1) 100%)!important; /* IE10+ */
    background: linear-gradient(top,  rgba(185,185,185,1) 0%,rgba(169,169,169,1) 50%,rgba(153,153,153,1) 51%,rgba(108,108,108,1) 100%)!important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b9b9b9', endColorstr='#6c6c6c',GradientType=0 )!important; /* IE6-9 */
	
}

.grn_btn{
    font-weight:700; font-size:12px !important;
    border:1px solid #777 !important;
    color:#fff !important;
	/*
    background: rgb(75,217,91) !important; 

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(75,217,91,1)), color-stop(50%,rgba(52,216,71,1)), color-stop(51%,rgba(50,192,64,1)), color-stop(100%,rgba(26,144,42,1))) !important; 
    background: -webkit-linear-gradient(top,  rgba(75,217,91,1) 0%,rgba(52,216,71,1) 50%,rgba(50,192,64,1) 51%,rgba(26,144,42,1) 100%) !important; 
    background: -o-linear-gradient(top,  rgba(75,217,91,1) 0%,rgba(52,216,71,1) 50%,rgba(50,192,64,1) 51%,rgba(26,144,42,1) 100%) !important;
    background: -ms-linear-gradient(top,  rgba(75,217,91,1) 0%,rgba(52,216,71,1) 50%,rgba(50,192,64,1) 51%,rgba(26,144,42,1) 100%) !important; 
    background: linear-gradient(top,  rgba(75,217,91,1) 0%,rgba(52,216,71,1) 50%,rgba(50,192,64,1) 51%,rgba(26,144,42,1) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4bd95b', endColorstr='#1a902a',GradientType=0 ) !important; 
    background: -moz-linear-gradient(top,  rgba(75,217,91,1) 0%, rgba(52,216,71,1) 50%, rgba(50,192,64,1) 51%, rgba(26,144,42,1) 100%) !important; 
	*/
	background: rgb(145,189,113) !important; /* Old browsers */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(145,189,113,1)), color-stop(50%,rgba(98,167,73,1)), color-stop(51%,rgba(62,149,35,1)), color-stop(100%,rgba(108,178,80,1))) !important; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(145,189,113,1) 0%,rgba(98,167,73,1) 50%,rgba(62,149,35,1) 51%,rgba(108,178,80,1) 100%) !important; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(145,189,113,1) 0%,rgba(98,167,73,1) 50%,rgba(62,149,35,1) 51%,rgba(108,178,80,1) 100%) !important; /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(145,189,113,1) 0%,rgba(98,167,73,1) 50%,rgba(62,149,35,1) 51%,rgba(108,178,80,1) 100%) !important; /* IE10+ */
background: linear-gradient(top,  rgba(145,189,113,1) 0%,rgba(98,167,73,1) 50%,rgba(62,149,35,1) 51%,rgba(108,178,80,1) 100%) !important; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91bd71', endColorstr='#6cb250',GradientType=0 ) !important; /* IE6-9 */
background: -moz-linear-gradient(top,  rgba(145,189,113,1) 0%, rgba(98,167,73,1) 50%, rgba(62,149,35,1) 51%, rgba(108,178,80,1) 100%) !important; /* FF3.6+ */
	
}

.blu_btn{
    font-weight:700; font-size:12px !important;
    border:1px solid #777 !important;
    color:#fff !important;
background: #6cc7e0 !important; /* Old browsers */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6cc7e0), color-stop(50%,#59c2df), color-stop(51%,#50b8d2), color-stop(100%,#239fc5)) !important; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #6cc7e0 0%,#59c2df 50%,#50b8d2 51%,#239fc5 100%) !important; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #6cc7e0 0%,#59c2df 50%,#50b8d2 51%,#239fc5 100%) !important; /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #6cc7e0 0%,#59c2df 50%,#50b8d2 51%,#239fc5 100%) !important; /* IE10+ */
background: linear-gradient(top,  #6cc7e0 0%,#59c2df 50%,#50b8d2 51%,#239fc5 100%) !important; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6cc7e0', endColorstr='#239fc5',GradientType=0 ) !important; /* IE6-9 */
background: -moz-linear-gradient(top,  #6cc7e0 0%, #59c2df 50%, #50b8d2 51%, #239fc5 100%) !important; /* FF3.6+ */

}

.orng_btn{
    font-weight:700; font-size:12px !important;
    border:1px solid #777 !important;
    color:#fff !important;
    background: rgb(253,153,31)!important; /* Old browsers */

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(253,153,31,1)), color-stop(50%,rgba(253,165,49,1)), color-stop(51%,rgba(231,131,1,1)), color-stop(100%,rgba(214,118,0,1)))!important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(253,153,31,1) 0%,rgba(253,165,49,1) 50%,rgba(231,131,1,1) 51%,rgba(214,118,0,1) 100%)!important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(253,153,31,1) 0%,rgba(253,165,49,1) 50%,rgba(231,131,1,1) 51%,rgba(214,118,0,1) 100%)!important; /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(253,153,31,1) 0%,rgba(253,165,49,1) 50%,rgba(231,131,1,1) 51%,rgba(214,118,0,1) 100%)!important; /* IE10+ */
    background: linear-gradient(top,  rgba(253,153,31,1) 0%,rgba(253,165,49,1) 50%,rgba(231,131,1,1) 51%,rgba(214,118,0,1) 100%)!important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd991f', endColorstr='#d67600',GradientType=0 )!important; /* IE6-9 */
    background: -moz-linear-gradient(top,  rgba(253,153,31,1) 0%, rgba(253,165,49,1) 50%, rgba(231,131,1,1) 51%, rgba(214,118,0,1) 100%)!important; /* FF3.6+ */
	
}
.grey_grd{
    background: rgb(204,204,204)!important;

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(204,204,204,1)), color-stop(100%,rgba(238,238,238,1)))!important;
    background: -webkit-linear-gradient(top,  rgba(204,204,204,1) 0%,rgba(238,238,238,1) 100%)!important;
    background: -o-linear-gradient(top,  rgba(204,204,204,1) 0%,rgba(238,238,238,1) 100%)!important;
    background: -ms-linear-gradient(top,  rgba(204,204,204,1) 0%,rgba(238,238,238,1) 100%)!important;
    background: linear-gradient(top,  rgba(204,204,204,1) 0%,rgba(238,238,238,1) 100%)!important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#eeeeee',GradientType=0 )!important;
    background: -moz-linear-gradient(top,  rgba(204,204,204,1) 0%, rgba(238,238,238,1) 100%)!important;
	
}
.orng_grd{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,172,75,0.5)), color-stop(100%,rgba(255,255,255,0)))!important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(252,172,75,0.5) 0%,rgba(255,255,255,0) 100%)!important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(252,172,75,0.5) 0%,rgba(255,255,255,0) 100%)!important; /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(252,172,75,0.5) 0%,rgba(255,255,255,0) 100%)!important; /* IE10+ */
    background: linear-gradient(top,  rgba(252,172,75,0.5) 0%,rgba(255,255,255,0) 100%)!important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80fcac4b', endColorstr='#00ffffff',GradientType=0 )!important; /* IE6-9 */
    background: -moz-linear-gradient(top,  rgba(252,172,75,0.5) 0%, rgba(255,255,255,0) 100%)!important; /* FF3.6+ */
	
}
.accordion h3{
    font-size:14px !important; padding:8px; margin:0px;
}
.accordion:hover{ cursor:pointer; }
.accordion{
	clear: both;
    padding:0px;padding-left:10px;
    border:1px solid #ccc; border-bottom:1px solid #ccc !important; border-radius:5px 5px 0px 0px; margin-top:-3px;
    margin-bottom:-3px;
    background: rgb(255,255,255)!important;  /* Old browsers */
    background-image: url(/assets/img/dnarrow.png),  -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(241,241,241,1)), color-stop(51%,rgba(225,225,225,1)), color-stop(100%,rgba(246,246,246,1)))!important; /* Chrome,Safari4+ */
    background-image: url(/assets/img/dnarrow.png),:  -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%)!important; /* Chrome10+,Safari5.1+ */
    background-image: url(/assets/img/dnarrow.png),  -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%)!important; /* Opera 11.10+ */
    background-image: url(/assets/img/dnarrow.png),  -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%)!important; /* IE10+ */
    background-image: url(/assets/img/dnarrow.png),  linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%)!important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cccccc',GradientType=0 )!important;  /* IE6-9 */
    background-image: url(/assets/img/dnarrow.png), -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%)!important; /* FF3.6+ */
    background-position:right !important; background-repeat:no-repeat !important;
}
.accordion_content{
	clear: both;
	font-family: 'Open Sans', Arial, Helvetica,  sans-serif;
	position:relative;
    margin-bottom: 10px; padding:10px;
    margin-bottom:0px !important;
    border-left:1px solid #ccc; border-right:1px solid #ccc; border-bottom:1px solid #ccc;
    border-top:1px solid #bbbbbb !important;
    background: rgb(214,214,214)!important;

    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(214,214,214,1)), color-stop(72%,rgba(237,237,237,1)))!important;
    background: -webkit-linear-gradient(top,  rgba(214,214,214,1) 1%,rgba(237,237,237,1) 72%)!important;
    background: -o-linear-gradient(top,  rgba(214,214,214,1) 1%,rgba(237,237,237,1) 72%)!important;
    background: -ms-linear-gradient(top,  rgba(214,214,214,1) 1%,rgba(237,237,237,1) 72%)!important;
    background: linear-gradient(top,  rgba(214,214,214,1) 1%,rgba(237,237,237,1) 72%)!important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d6d6', endColorstr='#ededed',GradientType=0 )!important;
    background: -moz-linear-gradient(top,  rgba(214,214,214,1) 1%, rgba(237,237,237,1) 72%)!important;
	
}
.accordion.on{
    background-image: url(/assets/img/uparrow.png),  -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(241,241,241,1)), color-stop(51%,rgba(225,225,225,1)), color-stop(100%,rgba(246,246,246,1)))!important; /* Chrome,Safari4+ */
    background-image: url(/assets/img/uparrow.png),  -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%)!important; /* Chrome10+,Safari5.1+ */
    background-image: url(/assets/img/uparrow.png),  -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%)!important; /* Opera 11.10+ */
    background-image: url(/assets/img/uparrow.png),  -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%)!important; /* IE10+ */
    background-image: url(/assets/img/uparrow.png),  linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%)!important; /* W3C */
    background-image: url(/assets/img/uparrow.png), -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%)!important; /* FF3.6+ */
	
}
.accordion h3{
    font-weight:normal !important;
	font-family: 'Open Sans', Arial, Helvetica,  sans-serif;
}
.accordion_content:last-child{
	clear:both;
}
.led{ float:left;  margin-top:9px; margin-right:5px;}

/* draws box w/ rounded corners */
.box { border: solid 1px #cccccc;  padding: 25px; margin: 0 0 25px 0; border-radius: 7px; }

/* alternates striped rows in tables */
.odd { background-color: #eeeeee; }
.even { background-color: #ffffff; }

/* alert boxes */
.msg_error { color: red; }

.gray_inner_border { box-shadow: inset 2px 2px #e8e8e8, inset -2px -2px #e8e8e8; }

/* BRAINS!!! */
.help { padding: 8px 16px; position: relative; }
.help:hover { cursor: pointer; }
.help:hover { cursor:help; }
.help.off { background: url(/assets/img/tooltip_gray.png) no-repeat center; }
.off:hover { background: url(/assets/img/tooltip.png) no-repeat center; }
.help.on  { background: url(/assets/img/helpclose.png) no-repeat center; }
.tooltip { display: block; position: absolute; left:50%; z-index: 99999; top:38%; border: 2px solid black;     -moz-box-shadow:0px 1px 5px #000; -webkit-box-shadow:0px 1px 5px #000; box-shadow:0px 1px 5px #000; border-radius: 10px; background: white repeat; padding: 10px; width:400px; margin-left:-200px; font-size: 10pt; font-weight: 300; text-align: left; }
.tooltip::selection { background: #ffffff; }
.tooltip::-moz-selection { background: #ffffff; }
.tooltip::-moz-selection { background: #ffffff; }
.tt_close{ position:absolute; right:0px; top:-22px; }
.tt_close:hover{ cursor:pointer; }
label.required:after { content: "*"; color: red; }

li { margin: 0 0 10px 0; }

div#info_bubble { position: absolute; top: 0; left: 0; background-color: #222222; height: 15px; padding: 5px; color: #ffffff; display: none; border-radius: 5px; -moz-border-radius: 5px; -web-kit-border-radius: 5px; }
#cf_nav_search_form{ padding-top:5px; }
#nav_finder{ margin-top:0px; }
#nav_finder_submit{ margin-top:5px; padding:4px 5px 5px 5px !important; }

.button { padding: 5px 13px; border-radius: 3px; display: inline-block; }

.share-modal { display: none;}

/* Smaller than standard 960 */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile  */
@media only screen and (max-width: 767px) {
    .container { background: red;}
    #site_overlay { width: 280px !important; min-height: 400px; position: absolute; top:0 !important; left: 5px !important; margin-left: 0; z-index: 25001; background: #f8f8f8; border-radius: 10px; border: 5px solid #cccccc; display: none; }
    .inner_overlay { padding: 10px; }
    .login_form #email, .login_form #password { height: 35px; width: 85%; font-size: 18px; }
    .login_form #submit { height: 30px; width: 90%; }
}

/* Mobile Landscape */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait */
@media only screen and (max-width: 479px) {}